<%= form_with(model: match, local: true) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>

  <%= form.fields_for :teams do |f, index| %>
    <br><p>
      <strong>Member <%=index%> <%=index%></strong>
    </p>

    <div class="field">
      <%= f.label "member" %>
      <%= f.collection_select(:member_id, Member.all, :id, :name, { :prompt => 'Select Player'}, { class: 'form-control' }) %>
    </div>

    <div class="field">
      <%= f.label "member score" %>
      <%= f.number_field :score %>
    </div>
  <% end %>


  <div class="actions ">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
